{% extends "site_base.html" %}
    
{% block page_trimming %}
<div class="grid_12">
	<nav>
		<ul>
			<li id="nav-1"><a href="">home</a></li>
			<li id="nav-2"><a href="">nature</a></li>
			<li id="nav-3"><a href="">people</a></li>
			<li id="nav-4"><a href="">urban</a></li>
			<li id="nav-5"><a href="">animals</a></li>
		</ul>
	</nav>
</div>
{% endblock %}

{% block content %}

	<div class="image-box grid_12">
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6130.JPG" class="images" title="pic1">
			<img src="{{ MEDIA_URL }}img/IMG_6130.JPG"/>
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6129.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6129.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6130.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6130.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6133.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6133.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
		<a rel="group1" href="{{ MEDIA_URL }}img/IMG_6124.JPG" class="images">
			<img src="{{ MEDIA_URL }}img/IMG_6124.JPG" />
		</a>
	</div>
{% endblock content %}
